@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("./assets/images/download.svg");
  background-size: cover; /* Optionally adjust background size */
  background-position: center; /* Optionally adjust position */
  @apply overflow-hidden;
}
